# name: Deploy ECS Service with Terraform

# on:
#   push:
#     branches:
#       - main

# env:
#   AWS_REGION: us-east-1

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     permissions:
#       id-token: write
#       contents: read

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Configure AWS credentials (OIDC)
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           role-to-assume: arn:aws:iam::828411126532:role/github-actions-oidc-role
#           aws-region: ${{ env.AWS_REGION }}
#           role-session-name: github-actions


